<!DOCTYPE html>
<html class="fixed" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <script src="/static/vendor/jQuery%203.4.1/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>Matrix工作室——登录</title>
</head>
<body>
<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="/static/images/MatrixLogo.png" style="height: 54px;" alt="Porto Admin"/>
        </a>
        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-lg">
                        <label for="username">Username</label>
                        <div class="input-group input-group-icon">
                            <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
                            <span class="input-group-addon">
								<span class="icon icon-lg">
									<i class="fa fa-user"></i>
								</span>
							</span>
                        </div>
                    </div>
                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left" for="password">Password</label>
                            <a href="#" class="pull-right">Lost Password?</a>
                        </div>
                        <div class="input-group input-group-icon">
							<input type="password" class="form-control" id="password" placeholder="密码" name="password">
                            <span class="input-group-addon">
								<span class="icon icon-lg">
									<i class="fa fa-lock"></i>
								</span>
							</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox-custom checkbox-default">
                                <input id="RememberMe" name="rememberme" type="checkbox"/>
                                <label for="RememberMe">Remember Me</label>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">
								<span>Sign In</span>
								<span>{{ msg }}</span>
                            </button>
                        </div>
                    </div>
                    <span class="mt-lg mb-lg line-thru text-center text-uppercase">
						<span>or</span>
					</span>
                    <div class="mb-xs text-center">
                        <a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
                        <a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
                    </div>
                    <p class="text-center">Don't have an account yet? <a href="#">Sign Up!</a>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>c